.logo{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 5px;
    // flex-wrap: wrap;
    padding: 2px;
    cursor: pointer;

    &Text{
        color: white;
        text-transform: uppercase;
        text-shadow: 1.5px 0px grey;
    }
}